@model TatBlog.WebApp.Areas.Admin.Models.AuthorFilterModel

@{
	ViewData["PageTitle"] = "Manage Author";
	var authorList = ViewBag.AuthorList as IPagedList<Author>;
}

<h1>
	Danh sách tác giả
</h1>

<partial name="_AuthorFilterPane" model="Model" />

@if (authorList != null && authorList.Count > 0)
{
	<table class="table table-responsive table-striped">
		<thead>
			<tr>
				<th>Avatar tác giả</th>
				<th>Tên tác giả</th>
				<th>Ngày tham gia</th>
				<th>Email</th>
				<th>Số bài viết</th>
				<th>Xoá</th>
			</tr>
		</thead>

		<tbody>
			@foreach (var author in authorList)
			{
				<tr>
					<td>
						@if (!string.IsNullOrWhiteSpace(author.ImageUrl))
						{
							<img src="/@author.ImageUrl" class="rounded-circle" style="object-fit: cover; width:60px; height: 60px" />
						}
						else
						{
							<img src="~/images/duat.jpg" class="rounded-circle" style="object-fit: cover; width:60px; height: 60px" />
						}

					</td>
					<td>
						<a asp-area="Admin"
				   asp-controller="Authors"
				   asp-action="Edit"
				   asp-route-id="@author.Id"
				   class="text-bold">
							@author.FullNames
						</a>
					</td>

					<td>
						@author.JoinedDate.ToShortDateString()
					</td>

					<td>
						@author.Email
					</td>

					<td>
						@author.Posts.Count
					</td>

					<td>
						<a class="btn"
				   asp-area="Admin"
				   asp-controller="Authors"
				   asp-action="RemoveAuthor"
				   asp-route-id="@author.Id"
				   onclick="return confirm('Bạn có chắc chắn xoá bài viết này')">
							<i class="fa fa-trash" style="color:red"></i>
						</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
	<partial name="_Pager" model="authorList" />

}
else
{
	<h1 class="text-warning mt-5 text-center mb-5">
		Không tìm thấy chủ đề nào
	</h1>
}