@model Post


@{
	ViewData["PageTitle"] = "Chi tiết";
	var urlImagePost = string.IsNullOrWhiteSpace(Model.ImageUrl)
	? "/images/duat_js.jpg" : $"/{Model.ImageUrl}";
}


<div class="container">
	<div class="card">


		<div class="card-body">
			<h1 class="text-primary">
				@Model.Title
			</h1>


			<p class="card-text">
				<span style="tab-size:5">
					<i class="fa fa-user"></i>
					<small class="text-muted">
						Tác giả:
					</small>
					<a class="show_link text-decoration-none"
					   asp-controller="Blog"
					   asp-action="Author"
					   asp-route-slug="@Model.Author.UrlSlug">
						<span class="text-primary">
							@Model.Author.FullNames
						</span>
					</a>
				</span>

				<span style="tab-size:5">
					<i class="fa fa-calendar"></i>
					@if (Model.ModifiedDate != null)
					{
						<small class="text-muted">
							Cập nhật lần cuối:
						</small>
						<small class="text-primary">
							@Model.PostedDate.ToString()
						</small>
					}
					else
					{
						<small class="text-muted">
							Ngày đăng:
						</small>
						<small class="text-primary">
							@Model.PostedDate.ToString()
						</small>
					}
				</span>
				<span style="tab-size:5">
					<i class="fa fa-eye"></i>
					<small class="text-muted">
						Số lượt xem:
					</small>
					<span class="text-danger">
						@Model.ViewCount
					</span>
				</span>
			</p>


			<p class="card-text">
				<span>
					<i class="fa fa-globe"></i>
					<small class="text-muted">
						Chủ đề bài viết:
					</small>
					<a class="show_link text-decoration-none"
					   asp-controller="Blog"
					   asp-action="Category"
					   asp-route-slug="@Model.Category.UrlSlug">
						<span class="text-primary">
							@Model.Category.Name
						</span>
					</a>
				</span>
			</p>

			@*<p class="card-text">
			<span>
			<i class="fa fa-tags"></i>
			<small class="text-muted">
			tag:
			</small>
			@if (model.tags.count > 0)
			{
			<partial name="_taglist" model="@model.tags" />
			}
			else
			{
			<p>bài viết chưa được gắn tag</p>
			}
			</span>
			</p>*@

			<div class="row card-text">
				<p class="card-text col-9">
					<span>
						<small class="text-muted">
							Short Description:
							<span class="text-primary">@Model.ShortDescrption</span>
						</small>
					</span>
				</p>
				<div class="col-3">
					<!-- You can use Open Graph tags to customize link previews.
					Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
					<meta property="og:url" content="https://www.your-domain.com/your-page.html" />
					<meta property="og:type" content="website" />
					<meta property="og:title" content="Your Website Title" />
					<meta property="og:description" content="Your description" />
					<meta property="og:image" content="https://www.your-domain.com/path/image.jpg" />


					<!-- Load Facebook SDK for JavaScript -->
					<div id="fb-root"></div>
					<script>
						(function (d, s, id) {
							var js, fjs = d.getElementsByTagName(s)[0];
							if (d.getElementById(id)) return;
							js = d.createElement(s); js.id = id;
							js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
							fjs.parentNode.insertBefore(js, fjs);
						}(document, 'script', 'facebook-jssdk'));</script>

					<!-- Your share button code -->
					<div class="fb-share-button"
						 data-href="https://www.your-domain.com/your-page.html"
						 data-layout="button_count">
					</div>


				</div>


			</div>
			<img src="@urlImagePost" class="card-img" alt="@Model.Title">

			<br />
			<p class="card-text">
				<span>
					<small class="text-muted">
						Description:
					</small>
					<span class="pt-4">@Model.Description</span>
				</span>
			</p>

			<br />

			<form action="" method="post">
				<div class="form-group">
					<label for="name">Nhập họ tên của bạn</label>
					<input type="text" class="form-control" id="name" name="name" aria-describedby="emailHelp"
						   placeholder="Nhập họ tên của bạn" required>
				</div>
				<div class="form-group">
					<label for="subject">Nội dung</label>
					<textarea class="form-control" rows="6" required></textarea>
				</div>
				<br>
				<div class="justify-content-center d-flex">
					<button type="submit" class=" btn btn-primary">Gửi bình luận</button>
				</div>
			</form>
		</div>


	</div>



</div>
